.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.StoryDiv:focus{
 background-color:  rgb(240, 240, 240)

}
.SingleDataPara{
  margin: 0px;
  margin-left: 58px !important;
}

.ItemSingleDiv{
  text-align: left !important;
  padding-left: 40px;
  width: 95%;
  background-color: transparent;
  /* border: none !important; */
  border-color: white !important;
  /* box-shadow: 0 8px 32px 0 rgba(249, 249, 250, 0.37);
  backdrop-filter: blur( 12.0px ); */
  

}
.ItemSingleDiv:hover{
  background-color:  rgb(223, 223, 223)
}

.LinkClicked:visited{
color: rgb(148, 148, 148);

}
.BackgorundTheme{
  background-color:#F6F6EF


}

/* 
button */
#btnnn{
  margin-top: 20px;
  margin-bottom: 20px;
}